// 1. Mixin con parámetros y valor por defecto [cite: 14, 15]
.configurar-boton(@color-fondo; @color-texto; @radio-borde: 4px) {
  background-color: @color-fondo;
  color: @color-texto;
  border-radius: @radio-borde;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

.btn-save {
  .configurar-boton(#2ecc71; white);
}

.btn-delete {
  .configurar-boton(#e74c3c; white);
}

.btn-cancel {
  .configurar-boton(#95a5a6; white);
}