# Default ignored files
/../../Principal /.idea/shelf/
/../../Principal /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Principal /.idea/httpRequests/
# Datasource local storage ignored files
/../../Principal /.idea/dataSources/
/../../Principal /.idea/dataSources.local.xml
